.main{
	width:33%;
	margin:auto;
	text-align: center;
}

h1{
	text-align: center;
}

video{
	width:100%;
}
.contenedor-video{
	position:relative;
	overflow:hidden;
	padding-top:56.25%;
	border: 3px solid red;
}

.contenedor-video iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

}
